
.board-container{
  /*background: skyblue;*/
  display: flex;
  flex:1;

}
.board{
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: pink;*/
}
.space{
  flex: 1
}

.top-bottom-spacer{
  /*background-color: red;*/
  flex:1;
}
