.cell{
  background: #2ecc71;
  border:2px solid #27ae60;
  width: 5rem;
  height: 5rem;
  border-radius: .5rem;
  margin: .5rem;
  flex-wrap: wrap;
  color: #e74c3c;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
